<div class="container py-5">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 d-flex" *ngFor="let b of bebidas">
            <div class="bebidas-container mb-3">
                <div class="card bg-dark text-white" style="width: 18rem;">
                    <img [src]="b.imagen" class="card-img-top" alt="imagenes">
                    <div class="card-body">
                        <h5 class="card-title">{{b.nombre}}</h5>
                        <p class="card-text">{{b.categoria}}</p>
                        <h6 class="card-text">{{b.precio | currency}}

                        </h6> <button class="btn btn-outline-light">
                            <span class="material-symbols-outlined">add</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>