.card{
 border-radius: 50px;
 margin: 10px;
 box-shadow: 0 4px 15px 0 black
}
.card-img-top{
 border-radius: 50px;
 object-fit: cover;
}
h5{
    color: white;
}
h6 {
    color: white;
}
p{
    color: white;
}
button{
    margin-left: 200px;
}