<div class="sidebar d-flex flex-column align-items-center text-bg-dark mt-4">
    <!-- items del side bar  -->
    <!-- ======================= -->
    <div class="items-container d-flex flex-column align-items-center gap-4 w-100">
        <button class="btn btn-link text-decoration-none text-white-50 d-flex flex-column align-items-center w-100 py-2"
            type="button" [routerLink]="['home']" routerLinkActive="active">
            <!-- iconos usados de google -->
            <span class="material-symbols-outlined">home</span>
            <span class="text-white">Inicio</span>

        </button>
        <button class="btn btn-link text-decoration-none text-white-50 d-flex flex-column align-items-center w-100 py-2"
            type="button" [routerLink]="['favoritos']" routerLinkActive="active">
            <span class="material-symbols-outlined">star</span>
            <span class="text-white">Favoritos</span>
        </button>
        <button class="btn btn-link text-decoration-none text-white-50 d-flex flex-column align-items-center w-100 py-2"
            type="button" [routerLink]="['platos']" routerLinkActive="active">
            <span class="material-symbols-outlined">lunch_dining</span>
            <span class="text-white">Platos</span>
        </button>
        <button class="btn btn-link text-decoration-none text-white-50 d-flex flex-column align-items-center w-100 py-2"
            type="button" [routerLink]="['bebidas']" routerLinkActive="active">
            <span class="material-symbols-outlined">local_bar</span>
            <span class="text-white">Bebidas</span>
        </button>
        <button class="btn btn-link text-decoration-none text-white-50 d-flex flex-column align-items-center w-100 py-2"
            type="button" [routerLink]="['postres']" routerLinkActive="active">
            <span class="material-symbols-outlined">icecream</span>
            <span class="text-white">Postres</span>
        </button>
    </div>
    <!-- ============================ -->
</div>